<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Bike</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../../../styles/products.css">
    <link rel="stylesheet" href="../../../styles/navbar.css">
    <link rel="stylesheet" href="../../../styles/footer.css">
    <link rel="stylesheet" href="../../../styles/general.css">
    <link rel="icon" href="../../../imgs/cars/logo.png">
</head>
<body>
    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../../../index.html"><div>Home</div></a>
            <a href="../../aboutUs.html"><div>About Us</div></a>
            <a href="../../contactUs.html"><div>Contact Us</div></a>
            <a href="../../login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../../../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
            <a href="../../login.html"><div class="login">Log in</div></a>
            <a href="../../saved.html"><i class="fa-regular fa-heart"></i></a>
          <a href="../../cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </nav>

    <main>
        <div class="con-relative">
            <div class="img-con img-con-8">
              <img src="../../../imgs/sportsbike/img-1.jpeg" alt="">
            </div>
            <div class="con-abs">
             <div class="flex">
              <div class="header">All Sport Bike Models</div>
              <a href="#desc"><button id="desc">Shop now</button></a>
             </div>
            </div>
        </div>

        <div class="center">
            <div class="con">
                <div class="con-flex">
                    <div>
                        <a href="./product1.html">
                            <div class="container">
                                <div class="img-con">
                                    <img src="../../../imgs/sportsbike/img-2.webp" alt="">
                                    <div class="icon"><i class="fa-regular fa-heart"></i></div>
                                </div>
                                <div class="con-details">
                                    <div class="name">Kawasaki  Ninja 400</div>
                                    <div class="price">₱850,000.00</div>
                                    <div class="center">
                                        <div class="color-div">
                                            <div class="color"></div>
                                            <div class="color"></div>
                                            <div class="color"></div>
                                            <div class="color"></div>
                                        </div>
                                    </div>
                                    <div class="div-btn">
                                        <button>BUY NOW</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="./product2.html">
                            <div class="container">
                                <div class="img-con">
                                    <img src="../../../imgs/sportsbike/img-3.jpeg" alt="">
                                    <div class="icon"><i class="fa-regular fa-heart"></i></div>
                                </div>
                                <div class="con-details">
                                    <div class="name">Honda CB650R</div>
                                    <div class="price">₱850,000.00</div>
                                    <div class="center">
                                        <div class="color-div">
                                            <div class="color"></div>
                                            <div class="color"></div>
                                            <div class="color"></div>
                                            <div class="color"></div>
                                        </div>
                                    </div>
                                    <div class="div-btn">
                                        <button>BUY NOW</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div>
                        <a href="./product3.html">
                            <div class="container">
                                <div class="img-con">
                                    <img src="../../../imgs/sportsbike/img-4.png" alt="">
                                    <div class="icon"><i class="fa-regular fa-heart"></i></div>
                                </div>
                                <div class="con-details">
                                    <div class="name">Yamaha MT-15</div>
                                    <div class="price">₱850,000.00</div>
                                    <div class="center">
                                        <div class="color-div">
                                            <div class="color"></div>
                                            <div class="color"></div>
                                            <div class="color"></div>
                                            <div class="color"></div>
                                        </div>
                                    </div>
                                    <div class="div-btn">
                                        <button>BUY NOW</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="img-con">
          <img src="../../../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="../../contactUs.html">Contact</a></div>
          <div><a href="../../faqs.html">FAQs</a></div>
          <div><a href="../../privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="../../terms.html">Terms & Condition</a></div>
          <div><a href="../../aboutUs.html">About Us</a></div>
          <div><a href="../../reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>

    <script src="../../../js/navbar.js"></script>
</body>
</html>