<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triumph Tiger 900 Rally Pro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../../../styles/products.css">
    <link rel="stylesheet" href="../../../styles/navbar.css">
    <link rel="stylesheet" href="../../../styles/footer.css">
    <link rel="stylesheet" href="../../../styles/general.css">
    <link rel="stylesheet" href="../../../styles/solo-product.css">
    <link rel="icon" href="../../../imgs/cars/logo.png">
</head>
<body>
    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../../../index.html"><div>Home</div></a>
            <a href="../../aboutUs.html"><div>About Us</div></a>
            <a href="../../contactUs.html"><div>Contact Us</div></a>
            <a href="../../login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../../../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
            <a href="../../login.html"><div class="login">Log in</div></a>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
    </nav>

    <main>
        <div class="ribbon">Fordon's Finest
            <i class="fa-solid fa-angle-right"></i>
            Triumph Tiger 900 Rally Pro
        </div>    
        <div class="center">
            <div class="con">
                <div class="title-con">
                    <div class="title">Triumph Tiger 900 Rally Pro</div>
                    <div class="price">₱850,000.00</div>
                </div>
                <div class="flex">
                    <div class="img-con">
                        <div class="rel">
                            <img src="../../../imgs/adventurebike/prod-img2.jpeg" alt="" class="img-1">
                            <div class="abs">
                                <img src="../../../imgs/adventurebike/img-3.webp" alt="">
                            </div>
                        </div>
                        
                    </div>
                    <div class="container">
                        <div class="context">
                            <ul>
                                <li>Engine: 888cc liquid-cooled inline-triple engine</li>
                                <li>Power: Approximately 94 hp</li>
                                <li>Torque: Approximately 64 lb-ft</li>
                                <li>Transmission: 6-speed gearbox with slip and assist clutch</li>
                                <li>Suspension: Showa 45mm USD front fork and rear monoshock with manually adjustable preload and rebound damping</li>
                                <li>Electronics: Cornering ABS, Traction Control, Cruise Control, Inertial Measurement Unit (IMU), and more</li>
                                <li>Fuel Capacity: 5.3 gallons (20 liters)</li>
                                <li>Weight (wet): Approximately 470 lbs (213 kg)</li>
                            </ul>                              
                        </div>
                                               
                                             
                        <div class="add-cart-con">
                            <div class="center">
                                <div class="color-div">
                                    <div class="color"></div>
                                    <div class="color"></div>
                                    <div class="color"></div>
                                    <div class="color"></div>
                                </div>
                                <a href="../../authentication.html">
                                    <div class="con-btn">
                                        <button>BUY NOW</button>
                                    </div>
                                </a>
                            </div>
                            <div class="qnt-con">
                                <label for="">Quantity: </label>
                                <input type="number" min="1" value="1">
                            </div>
                        </div>

                        <a href="../../authentication.html">
                            <div class="add-cart-btn">
                                <button>Add to Cart</button>
                            </div>
                        </a>

                    
                    </div>
                </div>
            </div>
        </div>

        <div class="like-con">
            <h1>You Might Also Like</h1>
            <div class="flex">
                <div>
                    <a href="../sportbike/product1.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/sportsbike/img-2.webp" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Kawasaki Ninja 400</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="../touringbike/product2.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/touringbike/img-3.jpeg" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Yamaha Star Venture Transcotinental</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="./product3.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/adventurebike/img-4.jpeg" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Yamaha Tenere 700</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="./product1.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/adventurebike/img-2.webp" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Ducati Multistrada V4</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="con-view">
                <a href="../../shop.html">
                    <button>View More</button>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <div class="img-con">
          <img src="../../../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="../../contactUs.html">Contact</a></div>
          <div><a href="../../faqs.html">FAQs</a></div>
          <div><a href="../../privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="../../terms.html">Terms & Condition</a></div>
          <div><a href="../../aboutUs.html">About Us</a></div>
          <div><a href="../../reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>

    <script src="../../../js/navbar.js"></script>
</body>
</html>