<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chevrolet Spark</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../../../styles/products.css">
    <link rel="stylesheet" href="../../../styles/navbar.css">
    <link rel="stylesheet" href="../../../styles/footer.css">
    <link rel="stylesheet" href="../../../styles/general.css">
    <link rel="stylesheet" href="../../../styles/solo-product.css">
    <link rel="icon" href="../../../imgs/cars/logo.png">
</head>
<body>
    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../../../index.html"><div>Home</div></a>
            <a href="../../aboutUs.html"><div>About Us</div></a>
            <a href="../../contactUs.html"><div>Contact Us</div></a>
            <a href="../../login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../../../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
            <a href="../../login.html"><div class="login">Log in</div></a>
            <a href="../../saved.html"><i class="fa-regular fa-heart"></i></a>
          <a href="../../cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </nav>

    <main>
        <div class="ribbon">Fordon's Finest
            <i class="fa-solid fa-angle-right"></i>
            Chevrolet Spark
        </div>    
        <div class="center">
            <div class="con">
                <div class="title-con">
                    <div class="title">Chevrolet Spark</div>
                    <div class="price">₱850,000.00</div>
                </div>
                <div class="flex">
                    <div class="img-con">
                        <div class="rel">
                            <img src="../../../imgs/hatchback/img-3.avif" alt="">
                            <div class="abs">
                                <img src="../../../imgs/hatchback/prod-2.jpeg" alt=""
                                style="object-fit: contain;">
                            </div>
                        </div>
                        
                    </div>
                    <div class="container">
                        <div class="context">
                            <p>
                                The Chevrolet Spark is Chevrolet’s entry to the thriving subcompact hatchback segment in the Philippines. Its refreshing exterior, interior, and price range make this car a good choice for a first brand-new car. The signature almond-shaped headlights of the Spark give it a unique look, together with the two-door hatch illusion because of the placement of the rear door handles.
                                <br><br>
                                Inside, the Chevrolet Spark has a clean dashboard layout, employing smaller knobs and buttons but illuminated it with LED lighting for easier control in the dark. A 7-inch touchscreen display with Chevrolet MyLink system decorates the center console and can be controlled using the buttons on the steering wheel. On the other hand, a traditional 3-inch LCD display on the instrument cluster replaced the motorcycle-inspired gauge on the previous model.
                                <br><br>
                                Enjoy the Spark with a 1.4L gasoline engine that comes with either a 5-speed manual transmission or CVT. The engine produces up 99 hp and 128 Nm of torque.
                            </p>
                        </div>
                                             
                        <div class="add-cart-con">
                            <div class="center">
                                <div class="color-div">
                                    <div class="color"></div>
                                    <div class="color"></div>
                                    <div class="color"></div>
                                    <div class="color"></div>
                                </div>
                                <a href="../../authentication.html">
                                    <div class="con-btn">
                                        <button>BUY NOW</button>
                                    </div>
                                </a>
                            </div>
                            <div class="qnt-con">
                                <label for="">Quantity: </label>
                                <input type="number" min="1" value="1">
                            </div>
                        </div>

                        <a href="../../authentication.html">
                            <div class="add-cart-btn">
                                <button>Add to Cart</button>
                            </div>
                        </a>

                    
                    </div>
                </div>
            </div>
        </div>

        <div class="like-con">
            <h1>You Might Also Like</h1>
            <div class="flex">
                <div>
                    <a href="../sedan/product1.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/sedan/img-2.webp" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Volkswagen Santana</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="../sedan/product2.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/sedan/img-3.webp" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Mitsubushi Mirage G4</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="./product1.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/hatchback/img-2.jpeg" alt="">
                            </div>
                            <div class="context">
                                <div class="name">MG 4 EV</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="./product3.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/hatchback/img-4.png" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Honda Brio</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="con-view">
                <a href="../../shop.html">
                    <button>View More</button>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <div class="img-con">
          <img src="../../../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="../../contactUs.html">Contact</a></div>
          <div><a href="../../faqs.html">FAQs</a></div>
          <div><a href="../../privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="../../terms.html">Terms & Condition</a></div>
          <div><a href="../../aboutUs.html">About Us</a></div>
          <div><a href="../../reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>

    <script src="../../../js/navbar.js"></script>
</body>
</html>