<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lexus LC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../../../styles/products.css">
    <link rel="stylesheet" href="../../../styles/navbar.css">
    <link rel="stylesheet" href="../../../styles/footer.css">
    <link rel="stylesheet" href="../../../styles/general.css">
    <link rel="stylesheet" href="../../../styles/solo-product.css">
    <link rel="icon" href="../../../imgs/cars/logo.png">
</head>
<body>
    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../../../index.html"><div>Home</div></a>
            <a href="../../aboutUs.html"><div>About Us</div></a>
            <a href="../../contactUs.html"><div>Contact Us</div></a>
            <a href="../../login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../../../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
            <a href="../../login.html"><div class="login">Log in</div></a>
            <a href="../../saved.html"><i class="fa-regular fa-heart"></i></a>
          <a href="../../cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </nav>

    <main>
        <div class="ribbon">Fordon's Finest
            <i class="fa-solid fa-angle-right"></i>
            Lexus LC
        </div>    
        <div class="center">
            <div class="con">
                <div class="title-con">
                    <div class="title">Lexus LC</div>
                    <div class="price">₱850,000.00</div>
                </div>
                <div class="flex">
                    <div class="img-con">
                        <div class="rel">
                            <img src="../../../imgs/convertible/prod-3.jpeg" alt="">
                            <div class="abs">
                                <img src="../../../imgs/convertible/prod-img3.jpeg" alt="">
                            </div>
                        </div>
                        
                    </div>
                    <div class="container">
                        <div class="context">
                            <p>
                                The LC is Lexus flagship in the local market's coupe segment. The classy Japanese four-seater coupe features the the brand's spindle grille in 3D mesh, complemented by a set of L-shape daytime running lights on the headlamps. This, along with its low-on-ground stance, brag about the brand's true identity. All 4 passengers are to be greeted by high-grade leather and an Alcantara-wrapped cabin, from the steering wheel, all the way to the seats. To further add class, Lexus accentuates these with metal trims found all over the cockpit, which houses the 10.3-inch Electro Multi-Vision Display that shows the vehicle information and entertainment features, and is supported by 13 surrounding speakers. Power-wise, a 5.0 naturally-aspirated V8 engine is found under the hood, which feeds the car with 471 hp and 50 Nm of torque. This thunderous engine is coupled to a 10-speed automatic transmission, giving the car the ability to go from 0 to 100 km/h in 4.7 seconds.
                            </p>
                        </div>
                                             
                        <div class="add-cart-con">
                            <div class="center">
                                <div class="color-div">
                                    <div class="color"></div>
                                    <div class="color"></div>
                                    <div class="color"></div>
                                    <div class="color"></div>
                                </div>
                                <a href="../../authentication.html">
                                    <div class="con-btn">
                                        <button>BUY NOW</button>
                                    </div>
                                </a>
                            </div>
                            <div class="qnt-con">
                                <label for="">Quantity: </label>
                                <input type="number" min="1" value="1">
                            </div>
                        </div>

                        <a href="../../authentication.html">
                            <div class="add-cart-btn">
                                <button>Add to Cart</button>
                            </div>
                        </a>

                    
                    </div>
                </div>
            </div>
        </div>

        <div class="like-con">
            <h1>You Might Also Like</h1>
            <div class="flex">
                <div>
                    <a href="../coupe/product3.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/coupe/img-4.avif" alt="">
                            </div>
                            <div class="context">
                                <div class="name">BMW M4 Coupe</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="../suv/product3.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/suv/img-4.webp" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Honda CR-V</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="./product1.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/convertible/img-2.webp" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Maserati MC20 Cielo</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="../coupe/product2.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/coupe/img-3.jpeg" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Chevrolet Corvette Stingray</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="con-view">
                <a href="../../shop.html">
                    <button>View More</button>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <div class="img-con">
          <img src="../../../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="../../contactUs.html">Contact</a></div>
          <div><a href="../../faqs.html">FAQs</a></div>
          <div><a href="../../privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="../../terms.html">Terms & Condition</a></div>
          <div><a href="../../aboutUs.html">About Us</a></div>
          <div><a href="../../reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>

    <script src="../../../js/navbar.js"></script>
</body>
</html>