<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>About Us</title>
    <link rel="stylesheet" href="../styles/aboutUs.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="icon" href="../imgs/cars/logo.png">
</head>
<body>

    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../index.html"><div>Home</div></a>
            <a href="./aboutUs.html"><div>About Us</div></a>
            <a href="./contactUs.html"><div>Contact Us</div></a>
            <a href="./login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
            <a href="./login.html"><div class="login">Log in</div></a>
            <a href="./saved.html"><i class="fa-regular fa-heart"></i></a>
          <a href="./cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </nav>
    <main>
        <div class="con-flex">
            <div class="context-con">
                <h4>ABOUT US</h4>
                <div class="title">Excelence Gears</div>
                <div class="hr-div">
                    <hr>
                </div>
                <div class="context">
                    At Fordon Gears, powered by 3D Technology, we are more than just an online 
                    marketplace for Cars, Motorcycles, and Accessories – we are enthusiasts 
                    dedicated to delivering an unparalleled automotive experience. 
                </div>
                <div class="context">
                    Our passion for cars and motorcycles drives our commitment to providing 
                    top-notch services that redefine comfort, reliability, and overall satisfaction.
                </div>
            </div>
            <div class="vid-con">
                <video src="../imgs/vid.mp4" autoplay loop></video>
            </div>
        </div>

        <div class="con-flex second-main-context">
            <div class="context-con">
                <div class="title">Revolutionizing Automotive</div>
                <div class="hr-div">
                    <hr>
                </div>
                <div class="context">
                    With years of experience and a team of highly skilled professionals from 3D 
                    Technology, we are on a mission to transform the way you experience car
                     and motorcycle maintenance and repair.
                </div>
                <div class="context">
                    Whether it's 
                    routine maintenance or intricate repairs, our dedicated 
                    team is equipped to handle all your automotive needs with 
                    the utmost care and attention they deserve.
                </div>
            </div>
        </div>

        <div class="con-flex-imgs">
            <div class="img-con">
                <img src="../imgs/cars/img15.avif" alt="">
            </div>
            <div class="second-con-cars">
                <div class="img-con-flex">
                    <div class="img-con-2">
                        <img src="../imgs/cars/img16.avif" alt="">
                    </div>
                    <div class="img-con-2">
                        <img src="../imgs/cars/img17.avif" alt="">
                    </div>
                </div>
                <div class="img-con">
                    <img src="../imgs/cars/img18.avif" alt="">
                </div>
            </div>
        </div>

        <div class="con-flex second-main-context">
            <div class="context-con">
                <div class="title">Most Trusted Company</div>
                <div class="hr-div">
                    <hr>
                </div>
                <div class="context">
                    Join us at Fordon Gears, powered by 3D Technology, on this journey of 
                    elevating your driving and riding experience to new heights. 
                    Your vehicles are not just modes of transportation; they are a reflection 
                    of your passion and individuality.
                </div>
                <div class="context">
                    Trust us with your automotive needs, and 
                    let Fordon Gears provide the utmost care and attention your vehicles deserve.
                </div>
            </div>
        </div>

        <div class="con-flex" style="margin-bottom: -7px;">
            <div class="img-con">
                <img src="../imgs/cars/img19.avif" alt="">
            </div>
            <div class="context-con">
                <div class="title">Prioritizing Your Satisfaction</div>
                <div class="hr-div">
                    <hr>
                </div>
                <div class="context">
                    Understanding the value of your time, Fordon Gears offers a seamless online 
                    booking system, making scheduling your service as easy as possible. 
                </div>
                <div class="context">
                    We prioritize your satisfaction by utilizing state-of-the-art equipment 
                    and cutting-edge techniques, ensuring that your vehicle and motorcycle 
                    receive the highest level of care.
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="img-con">
          <img src="../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="./contactUs.html">Contact</a></div>
          <div><a href="./faqs.html">FAQs</a></div>
          <div><a href="./privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="./terms.html">Terms & Condition</a></div>
          <div><a href="./aboutUs.html">About Us</a></div>
          <div><a href="./reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>
    

    <script src="../js/navbar.js"></script>
</body>
</html>