<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Check Out</title>
    <link rel="stylesheet" href="../styles/co_nav.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/authentication.css">
    <link rel="icon" href="../imgs/cars/logo.png">
</head>
<body>
    <nav>
        <div class="left">
            <a href="">
                <div class="flex">
                    <div><i class="fa-solid fa-circle-arrow-left"></i></div>
                    <div><a href="./shop.html">
                        Back to cart
                    </a></div>
                </div>
            </a>
        </div>

        <div class="mid"><a href="../index.html">
            Fordon Gears
        </a></div>

        <div class="right"><a href="../index.html">Home</a></div>
    </nav>

    <main>
        <div class="center">
            <div class="con">
                <div class="header">
                    <h1>CHECK OUT</h1>
                    <div class="flex">
                        <div class="con-flex">
                            <div class="num">1</div>
                            <div class="title">Authentication</div>
                        </div>
                        <div class="line"></div>
                        <div class="con-flex">
                            <div class="num">2</div>
                            <div class="title">Shipping</div>
                        </div>
                        <div class="line"></div>
                        <div class="con-flex">
                            <div class="num">3</div>
                            <div class="title">Payment & Review</div>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <div class="con-log">
                        <h1>Log in</h1>
                        <form action="./shipping.html">
                            <input type="email" placeholder="E-mail *" required>
                            <input type="password" placeholder="Password *" required>
                            <div class="desc">
                                You can use your old password to access your account. 
                                If you encounter problems you can click on Forgot 
                                Password? to set a new one
                            </div>
                            <button type="submit">LOG IN</button>
                            <div class="flex">
                                <div class="forgot-pass"><a href="">FORGOT PASSWORD?</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer>
        <div class="img-con">
          <img src="../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="./contactUs.html">Contact</a></div>
          <div><a href="./faqs.html">FAQs</a></div>
          <div><a href="./privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="./terms.html">Terms & Condition</a></div>
          <div><a href="./aboutUs.html">About Us</a></div>
          <div><a href="./reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>
</body>
</html>