<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../styles/contactus.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="icon" href="../imgs/cars/logo.png">
</head>
<body>

    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../index.html"><div>Home</div></a>
            <a href="./aboutUs.html"><div>About Us</div></a>
            <a href="./contactUs.html"><div>Contact Us</div></a>
            <a href="./login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
          <a href="./login.html"><div class="login">Log in</div></a>
          <i class="fa-regular fa-heart"></i>
          <i class="fa-solid fa-bag-shopping"></i>
        </div>
    </nav>
    <main>
        <div class="con-relative">
            <div class="img-con img-con-8">
              <img src="../imgs/cars/img14.avif" alt="">
            </div>
            <div class="con-abs">
             <div class="flex">
              <div class="header">Contact Us</div>
              <a href="#desc"><button id="desc">Get in Touch</button></a>
             </div>
            </div>
        </div>

        <div class="center">
            <div class="con">
                <div class="con-flex">
                    <div class="con-desc">
                        <h1>Got Questions?</h1>
                        <div class="context">
                            We're here to help! Reach out to the Fordon Gears team for expert assistance and 
                            personalized solutions tailored to your automotive needs. Whether you're seeking 
                            technical advice, product information, or partnership opportunities, our dedicated 
                            representatives are just a click or call away.
                        </div>
                    </div>
                    
                    <form action="">
                        <div class="form-div">
                            <label for="name">Name<span>*</span></label>
                            <input type="text" id="name" placeholder="Enter your name" required>
                        </div>

                        <div class="form-div">
                            <label for="email">Email<span>*</span></label>
                            <input type="email" id="email" placeholder="Enter your email" required>
                        </div>

                        <div class="form-div">
                            <label for="message">Message<span>*</span></label>
                            <textarea name="message" id="message" cols="30" rows="10" required></textarea>
                        </div>
                        <div style="display: flex; justify-content: end;">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="img-con">
          <img src="../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="./contactUs.html">Contact</a></div>
          <div><a href="./faqs.html">FAQs</a></div>
          <div><a href="./privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="./terms.html">Terms & Condition</a></div>
          <div><a href="./aboutUs.html">About Us</a></div>
          <div><a href="./reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>
    

    <script src="../js/navbar.js"></script>
</body>
</html>