<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/faqs.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="icon" href="../imgs/cars/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
   <title>FAQs</title>
</head>
<body>
    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../index.html"><div>Home</div></a>
            <a href="./aboutUs.html"><div>About Us</div></a>
            <a href="./contactUs.html"><div>Contact Us</div></a>
            <a href="./login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
            <a href="./login.html"><div class="login">Log in</div></a>
            <a href="./saved.html"><i class="fa-regular fa-heart"></i></a>
          <a href="./cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </nav>

    <div class="center">
       <div class="con">
            <h1>FAQs</h1>
            
            <div class="context-con">
                <div class="title">Why is it important to have properly adjusted side mirrors on a car?</div>
                <ul>
                    <li class="description">
                        Properly adjusted side mirrors are crucial for safe driving, providing a clear view of traffic, reducing blind spots, and enabling confident maneuvering. They also aid in early detection of potential hazards, preventing accidents. Compliance with traffic regulations ensures personal safety and legal adherence, preventing fines or penalties. Regular maintenance and adjustment are essential for road safety.
                    </li>
                </ul>
            </div>

            <div class="context-con">
                <div class="title">What is the importance of regular car maintenance?</div>
                <ul>
                    <li class="description">
                        Regular car maintenance is vital for safety, reliability, longevity, fuel efficiency, resale value, and environmental responsibility. By keeping essential components in optimal condition, maintenance reduces the risk of accidents, breakdowns, and costly repairs while extending the lifespan of the vehicle. Overall, investing in regular maintenance ensures smoother driving experiences, lower operating costs, and a reduced environmental impact
                    </li>
                </ul>
            </div>

            <div class="context-con">
                <div class="title">Are there any safety tips for making a U-turn, particularly in heavy traffic?</div>
                <ul>
                    <li class="description">
                        In heavy traffic, making a U-turn demands heightened caution and strategic execution. Signal early, ensuring adequate space, and yield to oncoming vehicles for safe maneuvering. Choose wide, clear areas for turning, avoiding crossing multiple lanes abruptly. Stay vigilant, anticipate other drivers' actions, and exercise patience, allowing traffic to flow smoothly. Maintain awareness of pedestrians and cyclists, yielding to them as necessary.
                    </li>
                </ul>
            </div>

            <div class="context-con">
                <div class="title">Does it matter what type of gas I use in my car?</div>
                <ul>
                    <li class="description">
                        Yes, the performance and efficiency of a car are greatly impacted by the type of gasoline it runs on. Different cars have varying requirements, so check the proper gasoline rating for your car in the manufacturer's or owner's manual. Using lower gasoline ratings can result in engine knocking, while higher values may not provide additional benefits.
                    </li>
                </ul>
            </div>

            <div class="context-con">
                <div class="title">How do I change a flat tire?</div>
                <ul>
                    <li class="description">
                        To change a flat tire, loosen the lug nuts with a wrench, use a jack to raise the car, remove the flat tire, mount the spare tire onto the wheel studs, tighten the lug nuts in a star pattern, lower the car, and double-check the lug nut tightness for safety.
                    </li>
                </ul>
            </div>

            <div class="context-con">
                <div class="title">How often should I change oil?</div>
                <ul>
                    <li class="description">
                        Oil change frequency depends on factors like oil type, driving conditions, and manufacturer recommendations. A general guideline is every 5,000 to 7,500 miles or every six months. Consult the owner's manual or follow manufacturer guidelines for precise recommendations to ensure engine health and vehicle longevity.
                    </li>
                </ul>
            </div>
            
       </div>
    </div>

    <footer>
        <div class="img-con">
          <img src="../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="./contactUs.html">Contact</a></div>
          <div><a href="./faqs.html">FAQs</a></div>
          <div><a href="./privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="./terms.html">Terms & Condition</a></div>
          <div><a href="./aboutUs.html">About Us</a></div>
          <div><a href="./reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>
    
    <script src="../js/navbar.js"></script> 
</body>
</html>