<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="../styles/privacy.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="icon" href="../imgs/cars/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../index.html"><div>Home</div></a>
            <a href="./aboutUs.html"><div>About Us</div></a>
            <a href="./contactUs.html"><div>Contact Us</div></a>
            <a href="./login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
          <a href="./login.html"><div class="login">Log in</div></a>
          <a href="./saved.html"><i class="fa-regular fa-heart"></i></a>
          <a href="./cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </nav>

    <main>
        <div class="relative">
            <div class="img-con">
                <img src="../imgs/cars/img25.avif" alt="">
            </div>
            <div class="context">
                Privacy Policy
            </div>
        </div>

        <div class="center">
            <div class="con">
                <h1>Fordon Gears</h1>
                <div class="context">
                    Fordon Gears ("we", "our", or "us") is committed to protecting your privacy. This Privacy Policy explains how your personal information is collected, used, and disclosed by Fordon Gears. This Privacy Policy applies to our website and its associated subdomains (collectively, our "Service"). By accessing or using the Service, you signify that you have read, understood, and agree to our collection, storage, use, and disclosure of your personal information as described in this Privacy Policy and our Terms of Service.
                </div>
                <div>
                    <div class="title">
                        How Do We Use The Information We Collect?
                    </div>
                    <div>
                        We collect information for various purposes, including:
                    </div>
                    <ul>
                        <li>Personalizing your experience: Your information helps us better respond to your individual needs.</li>
                        <li>Improving customer service: Your information helps us more effectively respond to your customer service requests and support needs.</li>
                        <li>Processing transactions.</li>
                        <li>Administering contests, promotions, surveys, or other site features.</li>
                        <li>Sending periodic emails.</li>
                    </ul>
                </div>
                <div>
                    <div class="title">Information Automatically Collected</div>
                    <div class="context">We automatically collect certain information when you visit, use, or navigate the platform. This information does not reveal your specific identity (such as your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, and other technical information. This information is primarily needed to maintain the security and operation of our Service and for internal analytics and reporting purposes.</div>
                    <div class="context" style="margin-top: 30px; margin-bottom: 40px;">Thank you for reviewing our Privacy Policy. If you have any questions or concerns about our practices or your personal information, please contact us at [contact email or form].</div>
                </div>
            </div>
        </div>
    </main>
    

    <footer>
        <div class="img-con">
          <img src="../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="./contactUs.html">Contact</a></div>
          <div><a href="./faqs.html">FAQs</a></div>
          <div><a href="./privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="./terms.html">Terms & Condition</a></div>
          <div><a href="./aboutUs.html">About Us</a></div>
          <div><a href="./reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>

    <script src="../js/navbar.js"></script> 
</body>
</html>