<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Saved</title>
    <link rel="stylesheet" href="../styles/cart.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="icon" href="../imgs/cars/logo.png">
</head>
<body>
    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../index.html"><div>Home</div></a>
            <a href="./aboutUs.html"><div>About Us</div></a>
            <a href="./contactUs.html"><div>Contact Us</div></a>
            <a href="./login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
            <a href="./login.html"><div class="login">Log in</div></a>
            <a href="./saved.html"><i class="fa-regular fa-heart"></i></a>
          <a href="./cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </nav>

    <main>
        <div class="header">
            <h1>Saved</h1>
            <div class="center">
                <div class="con">
                    <a href="./saved.html"><div>Saved</div></a>
                    <div>|</div>
                    <a href="../index.html"><div>Home</div></a>
                    <div>|</div>
                    <a href="./cart.html"><div>Cart</div></a>
                </div>
            </div>
        </div>

        <div class="flex-con">
            <div class="center bottom">
                <div class="con">
                    <div class="con-item">
                        <div class="con-first">
                            <div class="img-con">
                                <img src="../imgs/convertible/img-2.webp" alt="">
                            </div>
                            <div class="context">
                                <p>Maserati MC20 Cielo</p>
                                <p>Color: Green</p>
                            </div>
                        </div>
                        
                        <div class="center">
                            <div class="grid">
                                <div class="qnty">
                                    <div class="minus">-</div>
                                    <div class="input">1</div>
                                    <div class="plus">+</div>
                                </div>
                                <div class="price">₱850,000.00</div>
                                <div class="del">X</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center bottom">
                <div class="con">
                    <div class="con-item">
                        <div class="con-first">
                            <div class="img-con">
                                <img src="../imgs/coupe/img-3.jpeg" alt="">
                            </div>
                            <div class="context">
                                <p>Chevrolet Corvette Stingray</p>
                                <p>Color: White</p>
                            </div>
                        </div>
                        
                        <div class="center">
                            <div class="grid">
                                <div class="qnty">
                                    <div class="minus">-</div>
                                    <div class="input">1</div>
                                    <div class="plus">+</div>
                                </div>
                                <div class="price">₱850,000.00</div>
                                <div class="del">X</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center bottom">
                <div class="con">
                    <div class="con-item">
                        <div class="con-first">
                            <div class="img-con">
                                <img src="../imgs/coupe/img-2.webp" alt="">
                            </div>
                            <div class="context">
                                <p>Mazda MX-5 RF</p>
                                <p>Color: White</p>
                            </div>
                        </div>
                        
                        <div class="center">
                            <div class="grid">
                                <div class="qnty">
                                    <div class="minus">-</div>
                                    <div class="input">1</div>
                                    <div class="plus">+</div>
                                </div>
                                <div class="price">₱850,000.00</div>
                                <div class="del">X</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-total">
                <div class="flex-total">
                    <div class="total-price">
                        <div>Subtotal</div>
                        <div>₱2,550,000</div>
                    </div>
                    <a href="./authentication.html">
                        <div class="check">
                            <button>Checkout</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="like-con">
            <h1>You Might Also Like</h1>
            <div class="flex">
                <div>
                    <a href="./motorcycles/dirtbike/product1.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../imgs/dirtbike/img-2.jpeg" alt=""
                                style="object-fit: contain;">
                            </div>
                            <div class="context">
                                <div class="name">Husqvarna FE 501</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="./accessories/custom-ac/product1.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../imgs/custom-ac/img-1.webp" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Wireless Key Detector</div>
                                <div class="price">₱3,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="./accessories/maintenance/product4.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../imgs/maintenance/img-4.webp" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Maintenance Tools</div>
                                <div class="price">₱5,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="./motorcycles/touringbike/product3.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../imgs/touringbike/img-4.jpeg" alt=""
                                style="object-fit: contain;">
                            </div>
                            <div class="context">
                                <div class="name">Indian Roadmaster</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="con-view">
                <a href="./shop.html">
                    <button>View More</button>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <div class="img-con">
          <img src="../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="./contactUs.html">Contact</a></div>
          <div><a href="./faqs.html">FAQs</a></div>
          <div><a href="./privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="./terms.html">Terms & Condition</a></div>
          <div><a href="./aboutUs.html">About Us</a></div>
          <div><a href="./reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>

    <script src="../js/navbar.js"></script>
    <script>
        const minus = document.getElementsByClassName('minus');
        const plus = document.getElementsByClassName('plus');
        const input = document.getElementsByClassName('input');
        let total = 0;

        for(let i=0; i<minus.length; i++){
            minus[i].addEventListener("click", ()=>{
                let qnty = Number(input[i].innerText);
                if(qnty <= 1){
                    input[i].innerText = 1;
                }else{
                    qnty -= 1;
                    input[i].innerText = qnty;
                }
            })
        }

        for(let i=0; i<plus.length; i++){
            plus[i].addEventListener("click", ()=>{
                let qnty = Number(input[i].innerText);
                if(qnty >= 1){
                    qnty += 1;
                    input[i].innerText = qnty;
                }
            })
        }
    </script>
</body>
</html>