<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="../styles/shop.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="icon" href="../imgs/cars/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../index.html"><div>Home</div></a>
            <a href="./aboutUs.html"><div>About Us</div></a>
            <a href="./contactUs.html"><div>Contact Us</div></a>
            <a href="./login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
          <a href="./login.html"><div class="login">Log in</div></a>
          <i class="fa-regular fa-heart"></i>
          <i class="fa-solid fa-bag-shopping"></i>
        </div>
    </nav>

    <main>
        <div class="header">
            <h1>Fordon's Finest</h1>
            <div class="center">
                <div class="con">
                    <div>Fordon Motorcycles</div>
                    <div>|</div>
                    <div>Fordon Accessories</div>
                    <div>|</div>
                    <div>Fordon Cars</div>
                </div>
            </div>
        </div>

        <div class="motor-con">
            <div class="title">Fordon Motorcycles</div>
            <div class="center">
                <div class="con">
                    <div class="thumb-con">
                        <div class="thumb">
                            <a href="./motorcycles/sportbike/landpage.html">
                                <div class="img-con">
                                    <img src="../imgs/motor/thumb-1.avif" alt="">
                                </div>
                            </a>
                            <div class="text"><a href="./motorcycles/sportbike/landpage.html">Sports Bike</a></div>
                        </div>
                        <div class="thumb">
                            <a href="./motorcycles/cruiser/landpage.html">
                                <div class="img-con">
                                    <img src="../imgs/motor/thumb-2.avif" alt="">
                                </div>
                            </a>
                            <div class="text"><a href="./motorcycles/cruiser/landpage.html">Cruiser</a></div>
                        </div>
                        <div class="thumb">
                            <a href="./motorcycles/touringbike/landpage.html">
                                <div class="img-con">
                                    <img src="../imgs/motor/thumb-3.avif" alt="">
                                </div>
                            </a>
                            <div class="text"><a href="./motorcycles/touringbike/landpage.html">Touring Bike</a></div>
                        </div>
                    </div>

                    <div class="center">
                        <div class="thumb-con">
                            <div class="thumb">
                                <a href="./motorcycles/adventurebike/landpage.html">
                                    <div class="img-con">
                                        <img src="../imgs/motor/thumb-5.avif" alt="">
                                    </div>
                                </a>
                                <div class="text">
                                    <a href="./motorcycles/adventurebike/landpage.html">
                                        Adventure Bike
                                    </a>
                                </div>
                            </div>
                            <div class="thumb">
                                <a href="./motorcycles/dirtbike/landpage.html">
                                    <div class="img-con">
                                        <img src="../imgs/motor/thumb-4.avif" alt="">
                                    </div>
                                </a>
                                <div class="text"><a href="./motorcycles/dirtbike/landpage.html">
                                    Dirt Bike
                                </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="motor-con">
            <div class="title">Fordon Accessories</div>
            <div class="center">
                <div class="con">
                    <div class="thumb-con">
                        <div class="thumb">
                            <a href="./accessories/custom-ac/landpage.html">
                                <div class="img-con">
                                    <img src="../imgs/accessories/ac-1.jpeg" alt="">
                                </div>
                            </a>
                            <div class="text"><a href="./accessories/custom-ac/landpage.html">
                                Customized Accessories
                            </a></div>
                        </div>
                        <div class="thumb">
                            <a href="./accessories/safetysec/landpage.html">
                                <div class="img-con">
                                    <img src="../imgs/accessories/ac-2.jpeg" alt="">
                                </div>
                            </a>
                            <div class="text"><a href="./accessories/safetysec/landpage.html">
                                Safety and Security
                            </a></div>
                        </div>
                        <div class="thumb">
                            <a href="./accessories/performance/landpage.html">
                                <div class="img-con">
                                    <img src="../imgs/accessories/ac-3.jpeg" alt="">
                                </div>
                            </a>
                            <div class="text"><a href="./accessories/performance/landpage.html">
                                Perfomance Parts
                            </a></div>
                        </div>
                    </div>

                    <div class="center">
                        <div class="thumb-con">
                            <div class="thumb">
                                <a href="./accessories/interiorgad/landpage.html">
                                    <div class="img-con">
                                        <img src="../imgs/accessories/ac-4.webp" alt="">
                                    </div>
                                </a>
                                <div class="text"><a href="./accessories/interiorgad/landpage.html">
                                    Interior Gadgets
                                </a></div>
                            </div>
                            <div class="thumb">
                                <a href="./accessories/maintenance/landpage.html">
                                    <div class="img-con">
                                        <img src="../imgs/accessories/ac-5.jpeg" alt="">
                                    </div>
                                </a>
                                <div class="text">
                                    <a href="./accessories/maintenance/landpage.html">
                                        Maintenance and Care
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="motor-con">
            <div class="title">Fordon Cars</div>
            <div class="center">
                <div class="con">
                    <div class="thumb-con">
                        <div class="thumb">
                            <a href="./cars/sedan/landpage.html">
                                <div class="img-con">
                                    <img src="../imgs/shop_cars/car-1.avif" alt="">
                                </div>
                            </a>
                            <div class="text"><a href="./cars/sedan/landpage.html">
                                Sedan
                            </a></div>
                        </div>
                        <div class="thumb">
                            <a href="./cars/suv/landpage.html">
                                <div class="img-con">
                                    <img src="../imgs/shop_cars/car-2.avif" alt="">
                                </div>
                            </a>
                            <div class="text">
                                <a href="./cars/suv/landpage.html">
                                    SUV
                                </a>
                            </div>
                        </div>
                        <div class="thumb">
                            <a href="./cars/coupe/landpage.html">
                                <div class="img-con">
                                    <img src="../imgs/shop_cars/car-3.avif" alt="">
                                </div>
                            </a>
                            <div class="text"><a href="./cars/coupe/landpage.html">
                                Coupe
                            </a></div>
                        </div>
                    </div>

                    <div class="center">
                        <div class="thumb-con">
                            <div class="thumb">
                                <a href="./cars/convertible/landpage.html">
                                    <div class="img-con">
                                        <img src="../imgs/shop_cars/car-4.avif" alt="">
                                    </div>
                                </a>
                                <div class="text"><a href="./cars/convertible/landpage.html">
                                    Convertible
                                </a></div>
                            </div>
                            <div class="thumb">
                                <a href="./cars/hatchback/landpage.html">
                                    <div class="img-con">
                                        <img src="../imgs/shop_cars/car-5.avif" alt="">
                                    </div>
                                </a>
                                <div class="text">
                                    <a href="./cars/hatchback/landpage.html">
                                        Hatchback
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <footer>
        <div class="img-con">
          <img src="../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="./contactUs.html">Contact</a></div>
          <div><a href="./faqs.html">FAQs</a></div>
          <div><a href="./privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="./terms.html">Terms & Condition</a></div>
          <div><a href="./aboutUs.html">About Us</a></div>
          <div><a href="./reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>

    <script src="../js/navbar.js"></script> 
</body>
</html>