<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Condition</title>
    <link rel="stylesheet" href="../styles/terms.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="icon" href="../imgs/cars/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../index.html"><div>Home</div></a>
            <a href="./aboutUs.html"><div>About Us</div></a>
            <a href="./contactUs.html"><div>Contact Us</div></a>
            <a href="./login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
          <a href="./login.html"><div class="login">Log in</div></a>
          <a href="./saved.html"><i class="fa-regular fa-heart"></i></a>
          <a href="./cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        </div>
    </nav>

    <main>
        <div class="center">
            <div class="con">
                <div class="title">Terms & Condition</div>
                <div class="col">
                    <div>Welcome to the Fordon Gears Website. These terms and conditions outline the rules and regulations for the use of the Fordon Gears website, accessible at Github.</div>
                    <div>By accessing this website, it is assumed that you accept and agree to abide by these terms and conditions. If you do not agree with any part of these terms, please refrain from using the Fordon Gears website.</div>
                    <div>
                        The following terminology applies to these Terms and Conditions, 
                        Privacy Statement, and Disclaimer Notice, and all Agreements: 
                        "User," "You," and "Your" refer to you, the individual accessing the website 
                        and complying with the terms and conditions of the Company. "The Company," 
                        "Ourselves," "We," "Us," and "Our" refer to our Company. "Party," "Parties," 
                        or "We," refers to both the User and ourselves. All terms refer to the offer, 
                        acceptance, and consideration of payment necessary to carry out the process of 
                        our assistance to the User in the most appropriate manner for the express 
                        purpose of meeting the User's needs in relation to the provision of 
                        stated services by the Company, in accordance with and subject 
                        to the applicable laws of the Netherlands. Any use of the above 
                        terminology or other words in the singular, plural, capitalization, 
                        and/or he or they are considered interchangeable and therefore refer 
                        to the same.
                    </div>
                    <div>Our website offers a range of products, including cars, gears/accessories, 
                        and motorcycles. By using the Fordon Gears website, you acknowledge and agree 
                        to comply with the specific terms and conditions related to each category of 
                        products offered. Additionally, these terms and conditions are subject to 
                        change without prior notice, and it is the User's responsibility to review 
                        them periodically.
                    </div>
                    <div>Thank you for choosing Fordon Gears. We look forward to providing you with quality products and services.</div>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="img-con">
          <img src="../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="./contactUs.html">Contact</a></div>
          <div><a href="./faqs.html">FAQs</a></div>
          <div><a href="./privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="./terms.html">Terms & Condition</a></div>
          <div><a href="./aboutUs.html">About Us</a></div>
          <div><a href="./reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>

    <script src="../js/navbar.js"></script> 
</body>
</html>