<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MG 5</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../../../styles/products.css">
    <link rel="stylesheet" href="../../../styles/navbar.css">
    <link rel="stylesheet" href="../../../styles/footer.css">
    <link rel="stylesheet" href="../../../styles/general.css">
    <link rel="stylesheet" href="../../../styles/solo-product.css">
    <link rel="icon" href="../../../imgs/cars/logo.png">
</head>
<body>
    <nav>
        <div class="left">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../../../index.html"><div>Home</div></a>
            <a href="../../aboutUs.html"><div>About Us</div></a>
            <a href="../../contactUs.html"><div>Contact Us</div></a>
            <a href="../../login.html"><div class="login">Log in</div></a>
          </div>
  
        <div id="bar">
          <i class="fa-solid fa-bars"></i>
        </div>
  
          <div class="mid">
            <a href="../../../index.html">Fordon Gears</a>
          </div>
  
        <div class="right">
            <a href="../../login.html"><div class="login">Log in</div></a>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
    </nav>

    <main>
        <div class="ribbon">Fordon's Finest
            <i class="fa-solid fa-angle-right"></i>
            MG 5
        </div>    
        <div class="center">
            <div class="con">
                <div class="title-con">
                    <div class="title">MG 5</div>
                    <div class="price">₱850,000.00</div>
                </div>
                <div class="flex">
                    <div class="img-con">
                        <div class="rel">
                            <img src="../../../imgs/sedan/img-4.webp" alt="" class="img-1">
                            <div class="abs">
                                <img src="../../../imgs/sedan/prod-3.png" alt=""
                                style="object-fit: contain;">
                            </div>
                        </div>
                        
                    </div>
                    <div class="container">
                        <div class="context">
                            <p>
                                Like its hatch counterpart, the G4 is 
                                run by a familiar 1.2-liter engine that 
                                churns out 77 hp and 100 Nm of torque. 
                                You can even opt for a five-speed 
                                manual or a CVT, while it isn’t as 
                                flashy as some of its competitors, 
                                the Mirage G4 is practical in the 
                                sense that it gives you all of the 
                                necessities that you’ll need for your 
                                drive. Not to mention, your passengers
                                also get more than enough leg and 
                                headroom which should allow them to 
                                stay comfortable throughout the entire 
                                trip.
                            </p>
                        </div>
                                             
                        <div class="add-cart-con">
                            <div class="center">
                                <div class="color-div">
                                    <div class="color"></div>
                                    <div class="color"></div>
                                    <div class="color"></div>
                                    <div class="color"></div>
                                </div>
                                <a href="../../authentication.html">
                                    <div class="con-btn">
                                        <button>BUY NOW</button>
                                    </div>
                                </a>
                            </div>
                            <div class="qnt-con">
                                <label for="">Quantity: </label>
                                <input type="number" min="1" value="1">
                            </div>
                        </div>

                        <a href="../../authentication.html">
                            <div class="add-cart-btn">
                                <button>Add to Cart</button>
                            </div>
                        </a>

                    
                    </div>
                </div>
            </div>
        </div>

        <div class="like-con">
            <h1>You Might Also Like</h1>
            <div class="flex">
                <div>
                    <a href="./product1.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/sedan/img-2.webp" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Volkswagen Santana</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="./product2.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/sedan/img-3.webp" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Mitsubishi Mirage G4</div>
                                <div class="price">₱900,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>

                <div>
                    <a href="../suv/product1.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/suv/img-2.avif" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Ford Explorer</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="../suv/product2.html">
                        <div class="con-prod">
                            <div class="img-con">
                                <img src="../../../imgs/suv/img-3.jpeg" alt="">
                            </div>
                            <div class="context">
                                <div class="name">Nissan Patrol</div>
                                <div class="price">₱850,000.00</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="con-view">
                <a href="../../shop.html">
                    <button>View More</button>
                </a>
            </div>
        </div>
    </main>

    <footer>
        <div class="img-con">
          <img src="../../../imgs/cars/logo.png" alt="">
        </div>
        <div class="footer-title">Fordon Gears</div>
        <div class="footer-flex">
          <div><a href="../../contactUs.html">Contact</a></div>
          <div><a href="../../faqs.html">FAQs</a></div>
          <div><a href="../../privacyPolicy.html">Privacy Policy</a></div>
          <div><a href="../../terms.html">Terms & Condition</a></div>
          <div><a href="../../aboutUs.html">About Us</a></div>
          <div><a href="../../reviews.html">Reviews</a></div>
        </div>
        <div class="soc-flex">
          <div style="font-size: 14px;">©Fordon Gears 2024</div>
          <div class="soc-media-con">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
    </footer>

    <script src="../../../js/navbar.js"></script>
</body>
</html>